/* Pinterest Block Admin CSS */

.form-table {
    margin-bottom: 10px !important; 
}

.form-table td {
    padding: 1px 10px;
}

.form-table label {
    padding-left: 3px;
}
.form-table input[type="checkbox"] {
    margin-right: 5px;
	width: auto;
}

.form-table textarea {
    line-height: 1.3em;
    width: 350px;
}

.postbox .pblock-hndle {
	cursor: pointer;
}

.pblock-admin-banner {
	margin-bottom: 15px;
}

table#share_plugin_buttons tr td {
    padding-right: 10px;
    vertical-align: top;
}

#pblock-pointer-primary {
	margin: 0 5px 0 0;
}

.submit-settings {
	padding-bottom: 1.5em;
}

/* External link icon */
a.external {
    background: url(../img/icon-external-link.gif) center right no-repeat;
    padding-right: 17px;
}
